.boton-Atras {
  width: 60px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.cuadroDato{
  border: 1px solid black;
  max-width: 300px;
  margin-left: 15%;

}

